<div class="container text-center mt-4">
  <h2>Search Cocktails</h2>
  <div class="d-flex justify-content-center">
    <input
      type="text"
      class="form-control mt-4 shadow"
      style="max-width: 800px"
      placeholder="Enter cocktail name..."
      (input)="searchCocktails($event)"
    />
  </div>

  <div *ngIf="cocktails.length > 0" class="row">
    <h3 class="mb-4 mt-4">
      Results:
      <span class="badge text-bg-secondary">{{ cocktails.length }}</span>
    </h3>
    <div
      class="col-md-4 mb-4 d-flex justify-content-center"
      *ngFor="let drink of cocktails"
    >
      <div class="card shadow-sm my-4" style="max-width: 350px; width: 100%">
        <img
          [src]="drink.strDrinkThumb"
          alt="{{ drink.strDrink }}"
          class="card-img-top"
          style="height: 200px; object-fit: cover"
        />
        <div class="card-body shadow">
          <h5 class="card-title">{{ drink.strDrink }}</h5>
          <p class="card-text">Category: {{ drink.strCategory }}</p>
          <p class="card-text">Glass: {{ drink.strGlass }}</p>
          <a
            [href]="'https://www.thecocktaildb.com/drink/' + drink.idDrink"
            target="_blank"
            class="btn btn-warning"
            >View Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Se la ricerca non esiste "No Results" -->
<div class="container mt-4 d-flex justify-content-center">
  <div
    *ngIf="cocktails.length === 0"
    class="spinner-border text-danger"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
